.carousel-control-prev{
    top:50%;
    left: -0%;
    width: 50px;
    height: 60px;
    background-color: $color-black-4;
    opacity: 1;
    &:hover{
        border: 1px solid $color-blue-1;
        background-color: $color-white-0;
    }
    &:hover{
        color: $color-blue-1;
    }
    i{
        font-size: $fs-4 - 6;
    }
}
.carousel-control-next{
    top:50%;
    right: -0%;
    width: 50px;
    height: 60px;
    background-color: $color-black-4;
    opacity: 1;
    &:hover{
        border: 1px solid $color-blue-1;
        background-color: $color-white-0;
    }
    &:hover{
        color: $color-blue-1;
    }
    i{
        font-size: $fs-4 - 6;
    }
}